.mainBuyParentContainer {
  width: 85.5%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7%;
  display: flex;
}
.BuyDreamHomeTextStyle {
  color: black;
  font-size: 3.5rem;
  font-family: var(--Heading-font-family);
}
.BuyContentMainContainer {
  width: 100%;
  padding: 10px 10px;
  margin-left: 30px;
}
