.ourMissionParentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.ourMissionMainHeadingStyle {
  color: var(--black, #222);
  font-family: var(--Heading-font-family);
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
  line-height: 3.625rem;
}
.ourMissionSubHeadingStyle {
  color: var(--grey, #636363);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 40px;
}
.OurMissionMainContainerStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.ourMissionImageStyle {
  height: 550px;
}
.MainTextContainerStyle {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 55px;
}
.HeadingStyleOurMission {
  color: var(--dark-blue, rgba(1, 35, 34, 0.97));
  text-align: left;
  font-family: var(--SubHeading-font-family);
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.375rem;
}
.descriptionOneStyle {
  margin-top: 30px;
  color: var(--grey, #636363);
  text-align: left;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}
.descriptionTwoStyle {
  margin-top: 40px;
  color: var(--grey, #636363);
  text-align: left;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}
